.trailer-container {
  display: flex;
  flex-basis: auto;
  padding: 20px 40px;
  justify-content: space-around;
}

.trailer-des {
  width: 50%;
  color: white;
  font-size: 18px;
}

.trailer-des > h2 {
  font-size: 34px;
  font-weight: bold;
}
